*{
    background-color: black;

}
.container,span {
    display: flex;
    justify-content: center;
    font-size: xx-small;
    background-color: black;
    color: yellow;
    /*box-shadow: 3px #1aff8c;*/
    /*border: 2px solid blue;*/
}
.step-sequencer {
    display: flex;
}

.step-sequencer button {
    margin: 3px;
    display: flex;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    /*border: 1px solid orangered;*/
    justify-content: start;
    align-items: last;
    font-size: xx-small;
    font-style: oblique;
    color: pink;
    /*background-color: green;*/
    background-image: linear-gradient(blueviolet, greenyellow);
}

.step-sequencer button .light {
    margin-top: 5px;
    width: 9px;
    height: 9px;
    background-color: black;
    border-radius: 50%;
}

.step-sequencer button .active {
    background-color: yellow;
}
.row{
    background-color: black;
}
